### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Imports
import(S4Vectors)
import(XML)
import(ggplot2)
import(GeomxTools)

importFrom(base64enc,base64decode)
importFrom(BiocFileCache,BiocFileCache)
importFrom(BiocFileCache,bfcadd)
importFrom(BiocFileCache,bfccache)
importFrom(BiocFileCache,bfcrpath)
importFrom(BiocFileCache,bfcquery)
importFrom(Biobase,assayDataElement)
importFrom(data.table,fread)
importFrom(dplyr,bind_rows)
importFrom(dplyr,distinct)
importFrom(EBImage,as.Image)
importFrom(EBImage,Color)
importFrom(EBImage,display)
importFrom(EBImage,Image)
importFrom(EBImage,imageData)
importFrom(EBImage,"imageData<-")
importFrom(EBImage,normalize)
importFrom(ggtext,element_markdown)
importFrom(grDevices,col2rgb)
importFrom(grDevices,dev.off)
importFrom(grDevices,jpeg)
importFrom(grDevices,png)
importFrom(grDevices,tiff)
importFrom(magick,as_EBImage)
importFrom(magick,image_crop)
importFrom(magick,image_flip)
importFrom(magick,image_flop)
importFrom(magick,image_info)
importFrom(magick,image_ggplot)
importFrom(magick,image_read)
importFrom(methods,as)
importFrom(methods,callNextMethod)
importFrom(methods,is)
importFrom(methods,new)
importFrom(pbapply,pbapply)
importFrom(plotrix,color.id)
importFrom(RBioFormats,coreMetadata)
importFrom(RBioFormats,read.image)
importFrom(RBioFormats,read.metadata)
importFrom(RBioFormats,read.omexml)
importFrom(readxl,read_xlsx)
importFrom(scattermore,geom_scattermore)
importFrom(stats,setNames)
importFrom(stringr,str_to_title)
importFrom(tools,R_user_dir)
importFrom(utils,read.table)
importFrom(utils,str)
importFrom(utils,untar)

importClassesFrom(GeomxTools,NanoStringGeoMxSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes
exportClasses(SpatialOverlay)
exportClasses(SpatialPosition)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics

export(SpatialOverlay, SpatialPosition, position, meta, spatialPos, slideName, 
       overlay, scanMeta, coords, plotFactors, labWork, outline, scaleBarRatio, 
       fluor, seg, sampNames, showImage, res, scaled, imageInfo, workflow)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods

exportMethods(SpatialOverlay, SpatialPosition, position, meta, spatialPos, show, 
              slideName, overlay, scanMeta, coords, plotFactors, labWork, 
              outline, scaleBarRatio, fluor, seg, sampNames, showImage, res, 
              scaled, imageInfo, workflow)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions

export(add4ChannelImage)
export(addImageFile)
export(addImageOmeTiff)
export(bookendStr)
export(changeColoringIntensity)
export(changeImageColoring)
export(checkValidRes)
export(createCoordFile)
export(createMask)
export(cropSamples)
export(cropTissue)
export(downloadMouseBrainImage)
export(flipX)
export(flipY)
export(fluorLegend)
export(moveCoords)
export(parseOverlayAttrs)
export(parseScanMetadata)
export(plotSpatialOverlay)
export(readLabWorksheet)
export(readSpatialOverlay)
export(recolor)
export(removeSample)
export(xmlExtraction)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 methods

exportMethods(addPlottingFactor)

